# Python
api/.venv/
api/.env
__pycache__/
*.pyc
.pytest_cache/

# Node
mobile/node_modules/
mobile/.expo/
mobile/dist/
node_modules/
.next/

next-env.d.ts

# Env
.env
.env.local
*.env.local

# OS
.DS_Store
Thumbs.db
